{% comment %}
Sección del logotipo en la cabecera.
Incluye un enlace al inicio del sitio con el logotipo renderizado dinámicamente.
{% endcomment %}
<div class="header-logo">

  {% comment %}
  Enlace envolvente del logotipo.
  - Dirección del enlace: raíz del sitio (`/`), para redirigir al usuario a la página principal.
  - Clase: 'header-logo__link', utilizada para aplicar estilos específicos.
  {% endcomment %}
  <a href="/" class="header-logo__link">

    {% comment %}
    Renderizo el logotipo de la cabecera mediante un snippet reutilizable ('icons/logo-header').
    Esto asegura consistencia visual y facilita actualizaciones futuras.
    {% endcomment %}
    {% render 'icons/logo-header' %}
  </a>
</div>
