
<div class="mobile-menu" data-mobile-menu>
  <button class="mobile-menu__button" type="button" aria-expanded="false" aria-controls="mobile-menu-content" data-mobile-menu-toggle> 
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="15" fill="none"><path stroke="#762CFB" stroke-width="3" d="M0 1.5h36M0 13.5h36"></path></svg>    
  </button>
  <div class="mobile-menu__mobile-logo">
    {% render 'header/responsive/mobile-logo' settings: settings %}

  </div>
</div>

<script>
  /**
   * Initializes the mobile menu functionality.
   * Toggles the menu and closes it when clicking outside.
   */
  function initMobileMenu() {
    const menu = document.querySelector('[data-mobile-menu]');
    const toggle = document.querySelector('[data-mobile-menu-toggle]');
    const content = document.querySelector('[data-mobile-menu-content]');
    let isOpen = false;

    if (!menu || !toggle || !content) return;

    // Toggles the menu state
    const toggleMenu = () => {
      isOpen = !isOpen;
      toggle.setAttribute('aria-expanded', isOpen);
      content.classList.toggle('is-open', isOpen);
      menu.classList.toggle('is-active', isOpen);
    };

    // Closes the menu
    const closeMenu = () => {
      isOpen = false;
      toggle.setAttribute('aria-expanded', isOpen);
      content.classList.remove('is-open');
      menu.classList.remove('is-active');
    };

    // Event listener for the toggle button
    toggle.addEventListener('click', toggleMenu);

    // Event listener to close the menu when clicking outside
    document.addEventListener('click', (event) => {
      if (!menu.contains(event.target) && isOpen) {
        closeMenu();
      }
    });
  }

  // Initialize mobile menu on DOMContentLoaded
  window.addEventListener('DOMContentLoaded', initMobileMenu);
</script>
