{% comment %}
Sección del menú principal en la cabecera.
Incluye enlaces a secciones específicas del sitio y un botón para el carrito de compras.
{% endcomment %}
<div class="header-menu">

  {% comment %}
  Contenedor principal del menú.
  Organiza los elementos del menú en una lista no ordenada con estilos específicos.
  {% endcomment %}
  <div class="header-menu__container">
    <ul class="header-menu__list">

      {% comment %}
      Primer elemento del menú: Enlace a la sección "All products".
      - Clase 'header-menu__link' para aplicar estilos al enlace.
      - Ancla que redirige al id 'all-products'.
      {% endcomment %}
      <li class="header-menu__item">
        <a href="#all-products" class="header-menu__link">
          <span class="header-menu__text">All products</span>
        </a>
      </li>

      {% comment %}
      Segundo elemento del menú: Enlace a la sección "Collections".
      - Clase 'header-menu__link' para aplicar estilos al enlace.
      - Ancla que redirige al id 'all-collection'.
      {% endcomment %}
      <li class="header-menu__item">
        <a href="#all-collection" class="header-menu__link">
          <span class="header-menu__text">Collections</span>
        </a>
      </li>

      {% comment %}
      Tercer elemento del menú: Botón para el carrito de compras.
      - Botón con clase 'header-menu__cart' para estilos específicos.
      - Renderiza un ícono dinámico del carrito mediante un snippet reutilizable.
      {% endcomment %}
      <li class="header-menu__item">
        <button class="header-menu__cart" type="button">
          {% render 'icons/cart-icon' %}
        </button>
      </li>

    </ul>
  </div>
</div>
