{% comment %}
Sección de métodos de pago en la cabecera.
Muestra un texto informativo y una lista de íconos representando las opciones de pago aceptadas.
{% endcomment %}
<div class="header-payment-methods">

  {% comment %}
  Contenedor principal de los métodos de pago.
  Incluye un texto descriptivo y un grupo de íconos.
  {% endcomment %}
  <div class="header-payment-methods__container">

    {% comment %}
    Texto descriptivo de los métodos de pago aceptados.
    Informa al usuario que se aceptan diferentes monedas y tarjetas.
    {% endcomment %}
    <span class="header-payment-methods__text">We Accept</span>

    {% comment %}
    Contenedor para los íconos de los métodos de pago.
    Renderiza dinámicamente cada ícono mediante snippets reutilizables.
    {% endcomment %}
    <div class="header-payment-methods__icons">

      {% comment %}
      Ícono de Bitcoin. Representa la aceptación de pagos con esta criptomoneda.
      Renderizado desde el snippet 'icons/bitcoin-icon'.
      {% endcomment %}
      <div class="header-payment-methods__icon">
        {% render 'icons/bitcoin-icon' %}
      </div>

      {% comment %}
      Ícono de Ethereum. Representa la aceptación de pagos con Ethereum.
      Renderizado desde el snippet 'icons/eth-icon'.
      {% endcomment %}
      <div class="header-payment-methods__icon">
        {% render 'icons/eth-icon' %}
      </div>

      {% comment %}
      Ícono de Litecoin. Representa la aceptación de pagos con Litecoin.
      Renderizado desde el snippet 'icons/lcoin-icon'.
      {% endcomment %}
      <div class="header-payment-methods__icon">
        {% render 'icons/lcoin-icon' %}
      </div>

      {% comment %}
      Ícono de Dogecoin. Representa la aceptación de pagos con Dogecoin.
      Renderizado desde el snippet 'icons/doge-icon'.
      {% endcomment %}
      <div class="header-payment-methods__icon">
        {% render 'icons/doge-icon' %}
      </div>

      {% comment %}
      Ícono de USD Coin (USDC). Representa la aceptación de pagos con esta criptomoneda.
      Renderizado desde el snippet 'icons/usdc-icon'.
      {% endcomment %}
      <div class="header-payment-methods__icon">
        {% render 'icons/usdc-icon' %}
      </div>

    </div>
  </div>
</div>
