<div class="scroll-animate">
<section class="latest-collection container" id="all-collection">
    <div class="latest-collection__content">
        <div class="latest-collection__icon">
            <svg width="76" height="77" viewBox="0 0 76 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_di_743_568)">
                    <path
                        d="M38.006 76C38.006 76 35.5711 62.4241 24.9944 51.7027V51.7146C23.6046 50.3061 22.1657 49.0592 20.7268 47.9123C11.1217 40.3828 1 38.5122 1 38.5122C1 38.5122 14.3931 36.0439 24.982 25.3224C27.0728 23.2033 28.8437 20.9717 30.3442 18.7527C36.4322 9.73918 37.994 1 37.994 1C37.994 1 40.4409 14.5888 51.0181 25.3105C52.4079 26.719 53.8463 27.9659 55.2855 29.1002C64.8908 36.6303 75 38.5002 75 38.5002C75 38.5002 61.6066 40.9812 51.0301 51.7027C48.9398 53.8215 47.1806 56.0536 45.6802 58.2723C39.5924 67.2609 38.006 76 38.006 76Z"
                        fill="#6B38F1"></path>
                </g>
            </svg>
        </div>
        <span class="latest-collection__title">LATEST COLLECTION</span>
        <div class="latest-collection__icon">
            <svg width="76" height="77" viewBox="0 0 76 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_di_743_568)">
                    <path
                        d="M38.006 76C38.006 76 35.5711 62.4241 24.9944 51.7027V51.7146C23.6046 50.3061 22.1657 49.0592 20.7268 47.9123C11.1217 40.3828 1 38.5122 1 38.5122C1 38.5122 14.3931 36.0439 24.982 25.3224C27.0728 23.2033 28.8437 20.9717 30.3442 18.7527C36.4322 9.73918 37.994 1 37.994 1C37.994 1 40.4409 14.5888 51.0181 25.3105C52.4079 26.719 53.8463 27.9659 55.2855 29.1002C64.8908 36.6303 75 38.5002 75 38.5002C75 38.5002 61.6066 40.9812 51.0301 51.7027C48.9398 53.8215 47.1806 56.0536 45.6802 58.2723C39.5924 67.2609 38.006 76 38.006 76Z"
                        fill="#6B38F1"></path>
                </g>
            </svg>
        </div>
    </div>
    <div class="latest-collection__grid">
        {% for collection in collections %}
        {% render 'collection/collection-card', collection: collection %}
        {% endfor %}
    </div>
</section>
</div>