@use "src/styles/utils" as u;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(35, 33, 40, 0.1);
  backdrop-filter: blur(20px);

  &__container {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__payment-methods {
    @include u.respond-to("tablet") {
      display: none;
    }
  }

  @include u.respond-to("tablet") {
    padding-inline: 2rem;
  }

  @include u.respond-to("intermediate") {
    padding-inline: 1rem;
  }
}
