@use "src/styles/utils" as u;

// Estilos principales para el hero
.hero {
  
  // Contenedor para la imagen principal del hero
  &__image {
    position: relative;
    border-radius: 5px;

    // Ajustes para pantallas móviles
    @include u.respond-to("mobile") {
      width: 100%;
      height: 100%;
    }

    // Estilos para la imagen dentro del contenedor
    img {
      object-fit: cover; // Asegura que la imagen se ajuste proporcionalmente
      border-radius: 5px;

      // Ajustes para pantallas móviles
      @include u.respond-to("mobile") {
        width: 100%;
        height: 100%;
      }
    }
  }

  // Contenedor del contenido del hero
  &__content {
    @include u.respond-to("mobile") {
      width: 100%;
      aspect-ratio: 9/16; // Proporción para asegurar diseño responsivo
      overflow: hidden;
      object-fit: cover;
    }
  }

  // Contenedor del botón dentro del hero
  &__button-container {
    position: absolute;
    bottom: 2rem; // Coloca el botón en la parte inferior
    left: 2rem;  // Desplaza el botón hacia la izquierda

    // Oculta el botón en pantallas móviles
    @include u.respond-to("mobile") {
      display: none;
    }
  }

  // Estilos para el botón principal del hero
  &__button {
    display: inline-flex;
    justify-content: center; // Centra el contenido horizontalmente
    align-items: center; // Centra el contenido verticalmente
    padding-block: 0.4rem;
    padding-inline: 1rem;
    background-color: u.$secondary-color;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    // Efecto hover para el botón
    &:hover {
      opacity: 0.9;
    }
  }

  // Texto dentro del botón del hero
  &__button-text {
    font-size: 2rem;
    margin-block: 0.5rem;
    margin-inline: 1.5rem;
    font-family: u.$title-font-stack;

    // Ajusta el tamaño del texto en pantallas intermedias
    @include u.respond-to("intermediate") {
      font-size: 1.5rem;
    }
  }
}
