{% comment %}
Sección de métodos de pago en el footer.
Incluye un texto explicativo y una lista de íconos representando diferentes métodos de pago.
{% endcomment %}
<div class="footer-payment-methods">

  {% comment %}
  Contenedor principal para los métodos de pago.
  Organiza el texto y los íconos en bloques separados.
  {% endcomment %}
  <div class="footer-payment-methods__container">
    
    {% comment %}
    Texto que indica qué métodos de pago son aceptados.
    Esto proporciona claridad al usuario sobre las opciones disponibles.
    {% endcomment %}
    <span class="footer-payment-methods__text">
      We Accept all major cards, PayPal & crypto
    </span>

    {% comment %}
    Contenedor de los íconos de los métodos de pago.
    Cada ícono se renderiza desde un snippet específico para garantizar consistencia y facilidad de mantenimiento.
    {% endcomment %}
    <div class="footer-payment-methods__icons">

      {% comment %}
      Ícono de Bitcoin. Representa la aceptación de pagos con Bitcoin.
      {% endcomment %}
      <div class="footer-payment-methods__icon">
        {% render 'icons/bitcoin-icon' %}
      </div>

      {% comment %}
      Ícono de Ethereum. Representa la aceptación de pagos con Ethereum.
      {% endcomment %}
      <div class="footer-payment-methods__icon">
        {% render 'icons/eth-icon' %}
      </div>

      {% comment %}
      Ícono de Litecoin. Representa la aceptación de pagos con Litecoin.
      {% endcomment %}
      <div class="footer-payment-methods__icon">
        {% render 'icons/lcoin-icon' %}
      </div>

      {% comment %}
      Ícono de Dogecoin. Representa la aceptación de pagos con Dogecoin.
      {% endcomment %}
      <div class="footer-payment-methods__icon">
        {% render 'icons/doge-icon' %}
      </div>

      {% comment %}
      Ícono de USD Coin (USDC). Representa la aceptación de pagos con esta criptomoneda.
      {% endcomment %}
      <div class="footer-payment-methods__icon">
        {% render 'icons/usdc-icon' %}
      </div>

    </div>
  </div>
</div>
