<header class="header">
    <div class="header__container">
        {% render 'header/menu-mobile' settings: settings %}

        {% render 'header/logo-header' %}

        <div class="header__payment-methods">
            {% render 'header/payments-header' %}
        </div>

        {% render 'header/menu-header' %}

    </div>
</header>

{% render 'header/content-mobile' %}