
/// @type Color
$eerie-black: rgb(26, 26, 26);

/// @type Color
$white: rgb(254, 254, 254);

/// @type Color
$blue-violet: rgb(118, 44, 251);

/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// @type Color
$dark-grey: rgb(68, 68, 68) !default;
