@use 'colors' as c;

// Colores utilizados en el diseño

/// Color principal para el texto (alto contraste)
$text-color: c.$white !default;

/// Color de fondo principal (negro oscuro)
$background-color: c.$eerie-black !default;

/// Color secundario para acentos o elementos destacados
$secondary-color: c.$blue-violet !default;

// Fuentes utilizadas en el proyecto

/// fuentes para texto general
$text-font-stack: 'Aeonik', 'Open Sans', 'Arial', sans-serif !default;

/// fuentes para títulos o encabezados
$title-font-stack: 'Courier New', Courier, monospace !default;
