@use 'colors' as c;

/// @type Color
$text-color: c.$white !default;

/// @type Color
$background-color: c.$eerie-black !default;

/// @type Color
$secondary-color: c.$blue-violet !default;

/// @type List
$text-font-stack: 'Aeonik', 'Open Sans','Arial', sans-serif !default;

/// @type List
$title-font-stack: 'Courier New', Courier, monospace !default;




