{% comment %}
Sección del hero marquee.
Muestra un texto animado acompañado de un ícono, con animación administrada por un script.
{% endcomment %}
<div class="hero-marquee">
    {% comment %}
    Contenedor principal para el hero marquee.
    Organiza el contenido dentro de una estructura centralizada.
    {% endcomment %}
    <div class="hero-marquee__container">

        {% comment %}
        Contenedor del contenido animado del marquee.
        Este elemento es administrado por el script para generar la animación.
        {% endcomment %}
        <div class="hero-marquee__content" id="heroMarqueeContent">
            <span class="hero-marquee__text">

                {% comment %}
                Ícono del marquee.
                Renderizado dinámicamente mediante un snippet reutilizable.
                {% endcomment %}
                <div class="hero-marquee__icon">
                    {% render 'icons/diamonds-marquee' %}
                </div>

                {% comment %}
                Texto del marquee.
                Utiliza una variable dinámica ('marquee_text') para mostrar el contenido personalizado.
                {% endcomment %}
                <p>{{marquee_text}}</p>
            </span>
        </div>
    </div>
</div>

<script>
    /* 
    Inicializo la funcionalidad del marquee utilizando la clase MarqueeManager.
    - `heroMarqueeElement`: Elemento principal del marquee.
    - Configuración:
        - `speed`: Velocidad de la animación (20 unidades).
        - `padding`: Espaciado entre los elementos (20 unidades).
    */
    const heroMarqueeElement = document.getElementById('heroMarqueeContent');

    const HeroMarquee = new MarqueeManager(heroMarqueeElement, {
        speed: 20, // Velocidad de desplazamiento del marquee
        padding: 20, // Espaciado entre los elementos del marquee
    });
</script>
