<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHUFFLE | STORE</title>
</head>
<body>
  {% include 'top-bar/top-bar.liquid' %}
  {% include 'header/header.liquid' %}
  {% include 'hero/hero.liquid' %}
  {% include 'products/featured-products.liquid' %}
  {% include 'collections/latest-collection.liquid' %}
  <script src="/main.js" async></script>
</body>
</html>