<footer class="footer container" id="footer">
  <div class="footer__content">
    <div class="footer__container-desktop">
      {% render 'footer/logo-footer' settings: settings %}

      {% render 'footer/links-footer' settings: settings %}

      {% render 'footer/socials-footer' %}
    </div>
  </div>
  <div class="footer__container-tablet">
    <div class="footer__links-tablet">
      {% render 'footer/links-footer' settings: settings %}
    </div>
    <div class="footer__logo-socials-tablet">
      {% render 'footer/logo-footer' settings: settings %}
      {% render 'footer/socials-footer' %}
    </div>
  </div>
</footer>