@font-face {

    font-family: 'Aeonik';
  
    font-style: normal;
  
    src: url("../../assets/fonts/Aeonik-Regular.otf");
  
  }

@font-face {

  font-family: 'Aeonik';

  font-style: bold;

  src: url("../../assets/fonts/Aeonik-Bold.otf");

}

@font-face {

  font-family: 'Countach';

  font-style: normal;

  src: url("../../assets/fonts/Countach-Regular.otf");

}


@font-face {

  font-family: 'Countach';

  font-style: bold;

  src: url("../../assets/fonts/Countach-Bold.otf");

}
